article {
  margin: 0 auto;
  max-width: 50em;
  border-bottom: 0.4em;
}

body {
  font-family: sans-serif;
  margin: 2em;
}

h1 {
  margin: 0 auto 1em auto;
  width: 800px;
}

img {
  max-width: 100%;
}

.flourish {
	max-width: 100%;
}

.social {
	margin-left: 45%;
}

.logo {
	max-width: 48px;
	max-height: 48px;
	float: left;
}