/* add your CSS here */
.card-title {
	font-weight: bold;
	margin-left: 10px;
	padding: 10px 0 10px 0;
}

.panda {
	width: 320px;
	border: 1px solid #000019;
	box-shadow: 5px 5px 20px 5px rgba(46,42,46,0.5);

}

.animal-pic {
	border: 1px solid #000019;
	margin: 10px 0 10px 10px;
	padding: 10px 0 10px 0;

}

.animalinfo {
	width: 300px;
	margin: 0 0 10px 10px;
	border: 1px solid #000019;
	padding: 10px 0 10px 0;
}

.pandafact {
	font-style: italic;
	margin:0 40px 0 40px;
	text-align: justify;
}

.pandalist {
	list-style-type: none;
	list-style-position: outside;
}
.pandalist .fact-label {
	font-weight: bold;
}

.pandadescription {
	margin:0 40px 0 40px;
	text-align: justify;
}